
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  background:linear-gradient(135deg, #1cf15c, #f091c8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#category-select {
    background: skyblue;
    width: 90%;
    max-width: 400px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
   border: double black;
}

    select {
      width: 100%;
      padding: 10px ;
      margin-bottom: 15px;
      border-radius: 8px;
      border: 1px dotted black ;
      margin-right: 200px;
    }
    button {
    background: rebeccapurple;
    color: papayawhip;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

    button:hover {
      background-color: #ff4c3b;
    }

#joke { 

    font-size: 16px;
    color: rgb(255, 0, 85);
    justify-content: center;
}
